<form>
  <fieldset class="col-md-4 ">
    <h2>Register For The First Time</h2>
  <div class="form-group">
    <input type="password" class="form-control" id="firstName" placeholder="First Name">
    <input type="password" class="form-control" id="lastName" placeholder="Last Name">
    <input type="password" class="form-control" id="email" placeholder="Email">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <input type="password" class="form-control" id="password" placeholder=" Retype Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>